@use "reset";
@use "themes/light";
@use "themes/dark";
@use "variables/global";

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100svh;
}
